@import '../../../node_modules/tippy.js/dist/tippy.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh !important;
  overflow: hidden;
}

.monaco-editor {
  position: absolute !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.splitpanes--horizontal .splitpanes__pane {
  transition: none !important;
}

.splitpanes--vertical .splitpanes__pane {
  transition: none !important;
}

.default-theme.splitpanes--vertical > .splitpanes__splitter,
.default-theme .splitpanes--vertical > .splitpanes__splitter {
  width: 4px;
}
.default-theme.splitpanes--vertical > .splitpanes__splitter,
.default-theme .splitpanes--vertical > .splitpanes__splitter {
  border-left: 0 !important;
  border-top: 0 !important;
}
.default-theme.splitpanes--horizontal > .splitpanes__splitter,
.default-theme .splitpanes--horizontal > .splitpanes__splitter {
  border-left: 0 !important;
  border-top: 0 !important;
}
.splitpanes.default-theme .splitpanes__splitter {
  background: var(--splitter-gutter-bg) !important;
}
.splitpanes.default-theme .splitpanes__pane {
  background: var(--splitter-gutter-bg) !important;
}

#title-bar {
  -webkit-app-region: drag;
}

#title-bar button {
  -webkit-app-region: no-drag;
}
