@import '../../../node_modules/tippy.js/dist/tippy.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh !important;
  overflow: hidden;
}

.monaco-editor {
  position: absolute !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.splitpanes--horizontal .splitpanes__pane {
  transition: none !important;
}

.splitpanes--vertical .splitpanes__pane {
  transition: none !important;
}

.default-theme.splitpanes--vertical > .splitpanes__splitter,
.default-theme .splitpanes--vertical > .splitpanes__splitter {
  width: 4px;
}
.default-theme.splitpanes--vertical > .splitpanes__splitter,
.default-theme .splitpanes--vertical > .splitpanes__splitter {
  border-left: 0 !important;
  border-top: 0 !important;
}
.default-theme.splitpanes--horizontal > .splitpanes__splitter,
.default-theme .splitpanes--horizontal > .splitpanes__splitter {
  border-left: 0 !important;
  border-top: 0 !important;
}
.splitpanes.default-theme .splitpanes__splitter {
  background: var(--splitter-gutter-bg) !important;
}
.splitpanes.default-theme .splitpanes__pane {
  background: var(--splitter-gutter-bg) !important;
}

#title-bar {
  -webkit-app-region: drag;
}

#title-bar button {
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
  width: 8px; /* scrollbar width */
  height: 8px; /* horizontal scrollbar height */
}

::-webkit-scrollbar-track {
  background: transparent; /* track background */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5); /* thumb color */
  border-radius: 10px; /* rounded ends */
  border: 2px solid transparent; /* padding around thumb */
  background-clip: content-box; /* ensures border doesn’t overlap thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.7);
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari + Chrome */
}

.react-flow__panel.react-flow__controls {
  @apply mr-2 mb-6 !rounded-sm;
}

.react-flow__panel.react-flow__controls button:first-child {
  @apply !rounded-t-sm;
}

.react-flow__panel.react-flow__controls button:last-child {
  @apply !rounded-b-sm;
}
