{
    "semi": false,
    "singleQuote": true,
    "trailingComma": "es5",
    "vueIndentScriptAndStyle": true,
    "arrowParens": "avoid",
    "tabWidth": 4,
    "quoteProps": "consistent",
    "printWidth": 120
}
